<div class="container">
  <div class="text-faq_wrap">
    <div class="faq-header">FAQ</div>
    <div class="faq-subheader">
      Ответы на частозадаваемые вопросы, которые могут быть вам полезны
    </div>
  </div>
  <div class="faq__list-wrap">
    <div class="faq__listitem">
      <svg
        class="arrow-less"
        data-name="list-arr"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="15"
        viewBox="0 0 13.41 8.13"
      >
        <g>
          <polyline
            points="12.72 7.41 6.56 1.41 5.41 2.6 0.72 7.41"
            style="fill: none;"
          />
        </g>
      </svg>
      <div class="faq__listitem-header">
        Могу ли я арендовать рабочее место на один или несколько дней?
      </div>
      <div class="text-wrap">
        <div class="faq__listitem-text">
          Coworking Platforma работает как альтернативный офис, аренда любого
          рабочего места возможна от 1 месяца. Но если вам нужно поработать
          всего лишь несколько часов - вы можете арендовать переговорную комнату
          на любое удобное время, не являясь резидентом Coworking Platforma.
          Стоимость аренды переговорных комнат Platforma Leonardo можно узнать
          по этой ссылке, а тарифы на размещение в Platforma Art-Zavod – указаны
          здесь.
        </div>
      </div>
    </div>
    <div class="faq__listitem ">
      <svg
        class="arrow-less"
        data-name="list-arr"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="15"
        viewBox="0 0 13.41 8.13"
      >
        <g>
          <polyline
            points="12.72 7.41 6.56 1.41 5.41 2.6 0.72 7.41"
            style="fill: none;"
          />
        </g>
      </svg>
      <div class="faq__listitem-header">
        Могу ли я арендовать рабочее место на один или несколько дней?
      </div>
      <div class="text-wrap">
        <div class="faq__listitem-text">
          Coworking Platforma работает как альтернативный офис, аренда любого
          рабочего места возможна от 1 месяца. Но если вам нужно поработать
          всего лишь несколько часов - вы можете арендовать переговорную комнату
          на любое удобное время, не являясь резидентом Coworking Platforma.
          Стоимость аренды переговорных комнат Platforma Leonardo можно узнать
          по этой ссылке, а тарифы на размещение в Platforma Art-Zavod – указаны
          здесь.
        </div>
      </div>
    </div>
    <div class="faq__listitem ">
      <svg
        class="arrow-less"
        data-name="list-arr"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="15"
        viewBox="0 0 13.41 8.13"
      >
        <g>
          <polyline
            points="12.72 7.41 6.56 1.41 5.41 2.6 0.72 7.41"
            style="fill: none;"
          />
        </g>
      </svg>
      <div class="faq__listitem-header">
        Могу ли я арендовать рабочее место на один или несколько дней?
      </div>
      <div class="text-wrap">
        <div class="faq__listitem-text">
          Coworking Platforma работает как альтернативный офис, аренда любого
          рабочего места возможна от 1 месяца. Но если вам нужно поработать
          всего лишь несколько часов - вы можете арендовать переговорную комнату
          на любое удобное время, не являясь резидентом Coworking Platforma.
          Стоимость аренды переговорных комнат Platforma Leonardo можно узнать
          по этой ссылке, а тарифы на размещение в Platforma Art-Zavod – указаны
          здесь.
        </div>
      </div>
    </div>
    <div class="faq__listitem ">
      <svg
        class="arrow-less"
        data-name="list-arr"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="15"
        viewBox="0 0 13.41 8.13"
      >
        <g>
          <polyline
            points="12.72 7.41 6.56 1.41 5.41 2.6 0.72 7.41"
            style="fill: none;"
          />
        </g>
      </svg>
      <div class="faq__listitem-header">
        Могу ли я арендовать рабочее место на один или несколько дней?
      </div>
      <div class="text-wrap">
        <div class="faq__listitem-text">
          Coworking Platforma работает как альтернативный офис, аренда любого
          рабочего места возможна от 1 месяца. Но если вам нужно поработать
          всего лишь несколько часов - вы можете арендовать переговорную комнату
          на любое удобное время, не являясь резидентом Coworking Platforma.
          Стоимость аренды переговорных комнат Platforma Leonardo можно узнать
          по этой ссылке, а тарифы на размещение в Platforma Art-Zavod – указаны
          здесь.
        </div>
      </div>
    </div>
    <div class="faq__listitem ">
      <svg
        class="arrow-less"
        data-name="list-arr"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="15"
        viewBox="0 0 13.41 8.13"
      >
        <g>
          <polyline
            points="12.72 7.41 6.56 1.41 5.41 2.6 0.72 7.41"
            style="fill: none;"
          />
        </g>
      </svg>
      <div class="faq__listitem-header">
        Могу ли я арендовать рабочее место на один или несколько дней?
      </div>
      <div class="text-wrap">
        <div class="faq__listitem-text">
          Coworking Platforma работает как альтернативный офис, аренда любого
          рабочего места возможна от 1 месяца. Но если вам нужно поработать
          всего лишь несколько часов - вы можете арендовать переговорную комнату
          на любое удобное время, не являясь резидентом Coworking Platforma.
          Стоимость аренды переговорных комнат Platforma Leonardo можно узнать
          по этой ссылке, а тарифы на размещение в Platforma Art-Zavod – указаны
          здесь.
        </div>
      </div>
    </div>
  </div>
  {{>button/button
  class='btn-w faq-btn'
  text='Смотреть все вопросы'
  }}
</div>
