<div class="gallery_min owl-carousel">
  <a class="gallery_min-item" href="./static/img/content/main/img3.jpg" data-fancybox="gallery" data-caption="Caption #1">
    <img src="./static/img/content/main/img3.jpg" alt="">
  </a>
  <a class="gallery_min-item" href="./static/img/content/main/img3.jpg" data-fancybox="gallery" data-caption="Caption #1">
    <img src="./static/img/content/main/img1.jpg" alt="">
  </a>
  <a class="gallery_min-item" href="./static/img/content/main/img3.jpg" data-fancybox="gallery" data-caption="Caption #1">
    <img src="./static/img/content/main/img2.jpg" alt="">
  </a>
  <a class="gallery_min-item" href="./static/img/content/main/img3.jpg" data-fancybox="gallery" data-caption="Caption #1">
    <img src="./static/img/content/main/img1.jpg" alt="">
  </a>
</div>
