<div class="event event__list-wrap">
  <div class="event__list-header">События Platforma</div>
  <div class="event__items">
    <a href="./one-event.html" class="event__item-link">
      <div class="event__item">
        <div class="event-img" style="background-image: url(./static/img/content/location/mini1.jpg)"></div>
        <div class="event__item-content">
          <div class="event-subtitle">Здоровье</div>
          <div class="event-title">Разбуди свой инстинкт крипто-трейдера</div>
          <div class="event-date">24 ноя 19:00 - 21:00</div>
          <div class="event-price">200 грн</div>
        </div>
      </div>
    </a>
    <a href="./one-event.html" class="event__item-link">
      <div class="event__item">
        <div class="event-img" style="background-image: url(./static/img/content/location/mini1.jpg)"></div>
        <div class="event__item-content">
          <div class="event-subtitle">Здоровье</div>
          <div class="event-title">Разбуди свой инстинкт крипто-трейдера</div>
          <div class="event-date">24 ноя 19:00 - 21:00</div>
          <div class="event-price">200 грн</div>
        </div>
      </div>
    </a>
  </div>
  <a href="./one-event.html" class="event__white-link">
    <div class="event__block-white">
      <div class="event-big_date">
        <span class="event-day">24</span>
        <span class="event-month">ноя</span>
      </div>
      <div class="event-subtitle">Здоровье</div>
      <div class="event-title">Разбуди свой инстинкт крипто-трейдера</div>
      <div class="event-date">24 ноя 19:00 - 21:00</div>
      <div class="event-price">200 грн</div>
    </div>
  </a>
</div>
