<div class="price__wrap" id="price__wrap">
  <div class="price__nav">
    <div class="price__nav-item price-workplace is-active" data-item="workplace">
      <div class="price__nav-text">Рабочий день</div>
      <div class="price__nav-img" style="background-image: url(./static/img/content/price/price-bg.jpg)"></div>
    </div>
    <div class="price__nav-item price-speak" data-item="speak">
      <div class="price__nav-text">Переговорные залы</div>
      <div class="price__nav-img" style="background-image: url(./static/img/content/price/price-bg.jpg)"></div>
    </div>
    <div class="price__nav-item price-lecture" data-item="lecture">
      <div class="price__nav-text">Лекционные залы</div>
      <div class="price__nav-img" style="background-image: url(./static/img/content/price/price-bg.jpg)"></div>
    </div>
    <div class="price__nav-item price-day" data-item="day">
      <div class="price__nav-text">Аудитории</div>
      <div class="price__nav-img" style="background-image: url(./static/img/content/price/price-bg.jpg)"></div>
    </div>

  </div>
  <div class="sliders__wrap" id="sliders__wrap">
    <!-- begin first slider     -->
    <div class="price-slider owl-carousel price__cards is-active" id="price-workplace">
      {{>price/price-card
      header='Lounge4444'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Lounge4444'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Lounge4444'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}


    </div>
    <!-- end first slider     -->
    <!-- begin second slider     -->
    <div class="price-slider owl-carousel price__cards" id="price-speak">
      {{>price/price-card
      header='Super4444'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Superfdfg'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Super3333'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Super1111'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Super3333'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Super1111'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
    </div>
    <!-- end second slider     -->
    <!-- begin third slider     -->
    <div class="price-slider owl-carousel price__cards" id="price-lecture">
      {{>price/price-card
      header='Test4444'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Testfdfg'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}

    </div>
    <!-- end third slider     -->
    <!-- begin fourth slider     -->
    <div class="price-slider owl-carousel price__cards" id="price-day">
      {{>price/price-card
      header='Blablabla4444'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Blablablafdfg'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Blablabla3333'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}
      {{>price/price-card
      header='Blablabla3333'
      price='2000'
      supprice='грн'
      price-detail='койкоместо'
      text='Возможность посещения коворкинга в течение одного месяца'
      link='/price-info.html'
      }}

    </div>
    <!-- end fourth slider     -->
  </div>

</div>
