<div class="cd-slider">
  <div class="black"></div>
  <ul>
    <li>
      <div class="image" style="background-image:url(https://images.unsplash.com/photo-1421809313281-48f03fa45e9f?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>

    </li>
    <li>
      <div class="image" style="background-image:url(https://images.unsplash.com/uploads/1411724908903377d4696/2e9b0cb2?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>

    </li>
    <li>
      <div class="image" style="background-image:url(https://images.unsplash.com/photo-1416838375725-e834a83f62b7?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>

    </li>
    <li>
      <div class="image" style="background-image:url(https://images.unsplash.com/35/JOd4DPGLThifgf38Lpgj_IMG.jpg?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>

    </li>
    <li>
      <div class="image" style="background-image:url(https://images.unsplash.com/photo-1453974336165-b5c58464f1ed?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>

    </li>
  </ul>

  <div class="slider__content">
    <div class="content__block">
      <div class="count" id="count">
        <!-- <div class="current">01</div>
        <div class="all-items">/03</div> -->
      </div>

      <div class="content__text">
        <div>234345Нетворкинг</div>
        <div>ddgdfКоворкинг</div>
        <div>4353454Апворкинг</div>
        <div>345345Коворкинг</div>
        <div>345345Апворкинг</div>
        <div class="progress"></div>
      </div>

    </div>

    <button aria-label='Prev' id="slider__control_prev" class="slider__control slider__control_prev prev">&#10094;</button>
    <button aria-label='Next' id="slider__control_next" class="slider__control slider__control_next next">&#10095;</button>
  </div>
</div>
