<div class="cd-slider  {{ class }}">
  <ul>
    <li>
      <div class="image" style="background-image:url(/static/img/content/main/img1.jpg);"></div>

    </li>
    <li>
      <div class="image" style="background-image:url(/static/img/content/main/img2.jpg);"></div>

    </li>
    <li>
      <div class="image" style="background-image:url(/static/img/content/main/img3.jpg);"></div>

    </li>
    <li>
      <div class="image" style="background-image:url(/static/img/content/main/img4.jpg);"></div>

    </li>
    <li>
      <div class="image" style="background-image:url(/static/img/content/main/img3.jpg);"></div>

    </li>
  </ul>

  <div class="slider__content">
    <div class="content__block">
      <div class="count counter" id="count">
        <!-- <div class="current">01</div>
        <div class="all-items">/03</div> -->
      </div>

      <div class="content__text">
        <div>Нетворкинг</div>
        <div>Коворкинг</div>
        <div>Апворкинг</div>
        <div>Коворкинг</div>
        <div>Апворкинг</div>
        <span class="progress"></span>
      </div>

    </div>

    <button aria-label='Prev' id="slider__control_prev" class="slider__control slider__control_prev prev">&#10094;</button>
    <button aria-label='Next' id="slider__control_next" class="slider__control slider__control_next next">&#10095;</button>
  </div>
</div>
