<div class="slider {{ class }}">
  <div class="slider__items">
    <div class="slider__item slider__item_active">
      <picture class="slider-img">
        <source srcset="./static/img/content/main/imgM1.jpg" media="(max-width: 767px)">
        <source srcset="./static/img/content/main/img1.jpg">
        <img src="./static/img/content/main/img1.jpg" alt="default-image">
      </picture>
    </div>
    <div class="slider__item">
      <picture class="slider-img">
        <source srcset="./static/img/content/main/imgM2.jpg" media="(max-width: 767px)">
        <source srcset="./static/img/content/main/img2.jpg">
        <img src="./static/img/content/main/img2.jpg" alt="default-image">
      </picture>
    </div>
    <div class="slider__item">
      <picture class="slider-img">
        <source srcset="./static/img/content/main/imgM3.jpg" media="(max-width: 767px)">
        <source srcset="./static/img/content/main/img3.jpg">
        <img src="./static/img/content/main/img3.jpg" alt="default-image">
      </picture>
    </div>
    <div class="slider__item">
      <picture class="slider-img">
        <source srcset="./static/img/content/main/imgM1.jpg" media="(max-width: 767px)">
        <source srcset="./static/img/content/main/img1.jpg">
        <img src="./static/img/content/main/img1.jpg" alt="default-image">
      </picture>
    </div>
    <div class="slider__item">
      <picture class="slider-img">
        <source srcset="./static/img/content/main/imgM2.jpg" media="(max-width: 767px)">
        <source srcset="./static/img/content/main/img2.jpg">
        <img src="./static/img/content/main/img2.jpg" alt="default-image">
      </picture>
    </div>
    <div class="slider__item">
      <picture class="slider-img">
        <source srcset="./static/img/content/main/imgM3.jpg" media="(max-width: 767px)">
        <source srcset="./static/img/content/main/img3.jpg">
        <img src="./static/img/content/main/img3.jpg" alt="default-image">
      </picture>
    </div>

  </div>
  <div class="slider__content">
    <div class="content__block">
      <div class="count" id="count">
        <div class="current">01</div>
        <div class="all-items">/03</div>
      </div>

      <div class="content__text">
        <div class="text-item active">Нетворкинг</div>
        <div class="text-item">Коворкинг</div>
        <div class="text-item">Апворкинг</div>
      </div>
      <div class="progress"></div>
    </div>

    <button class="slider__control slider__control_prev">&#10094;</button>
    <button class="slider__control slider__control_next">&#10095;</button>
  </div>

</div>
